useDynLib(Rgnuplot, .registration = TRUE, .fixes = "C_")
exportPattern("^Gp","%s%")
#import(colorspace, png, rgdal)
importFrom(stats, na.omit)
importFrom(utils, read.delim, read.table, write.table)
importFrom("methods", "as", "is")

